<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>

<form action="/vacancy/{{ vacancy_id }}/events/" method="POST">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="event_date" placeholder="event date">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="due_to_date" placeholder="due to date">
    <input type="submit" value="Add Event">
</form>
<br/>
<a href="../">back</a>
<br/>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Event date</th>
        <th scope="col">Due to date</th>
    </tr>
    </thead>
    <tbody>

    {% for event in events %}
    <tr>
        <th scope="row">{{ event.id }}</th>
        <th scope="row"><a href="{{ event.id }}/">{{ event }}</a></th>
        <th scope="row">{{ event.event_date }}</th>
        <th scope="row">{{ event.due_to_date }}</th>
    </tr>
    {% endfor %}

</body>
</html>